menu "Copepod HAL (MIPI)"

config POD_HAL_USE_DOUBLE_BUFFERING
    bool "Use double buffering"
    default y

config POD_HAL_LOCK_WHEN_FLUSHING
    bool "Lock back buffer when flushing"
    default n
    depends on POD_HAL_USE_DOUBLE_BUFFERING

endmenu
